set_io --warn-no-port CLK_IN 21
set_io --warn-no-port J3[0] 44
set_io --warn-no-port J3[1] 45
set_io --warn-no-port J3[2] 47
set_io --warn-no-port J3[3] 48
set_io --warn-no-port J3[4] 56
set_io --warn-no-port ENABLE 60
set_io --warn-no-port RX 61
set_io --warn-no-port TX 62
set_io --warn-no-port LED[4] 95
set_io --warn-no-port LED[3] 96
set_io --warn-no-port LED[2] 97
set_io --warn-no-port LED[1] 98
set_io --warn-no-port LED[0] 99
set_io --warn-no-port IR_TX 105
set_io --warn-no-port IR_RX 106
set_io --warn-no-port IR_SD 107
set_io --warn-no-port J1_3 112
set_io --warn-no-port J1_4 113
set_io --warn-no-port J1_5 114
set_io --warn-no-port J1_6 115
set_io --warn-no-port J1_7 116
set_io --warn-no-port J1_8 117
set_io --warn-no-port J1_9 118
set_io --warn-no-port J1_10 119